.converter {
  max-width: 50rem;
  margin: 1.5rem auto;
  padding: 0 1rem;
}

.row {
  position: relative;
  display: grid;
  padding-bottom: 0.5rem;
  grid-template-columns: 1fr 15rem;
  gap: 0.75rem;
  align-items: start;
}

.amount, .currency {
  width: 100%;
}

.spinner {
  position: absolute;
  right: -2.25rem;
  top: 1rem;
}

.error {
  margin-top: 0.5rem;
  color: var(--mat-sys-error);
}
